.about {
    .container {
        position: relative;
    }
    .page-content {
        max-width: 510px;
        margin-left: auto;
        margin-right: 19.7%;
        ul {
            max-width: 490px;
        }
    }
    &__title {
        margin-bottom: 20px;
        span {
            line-height: 0.9;
            display: inline-block;
            padding-bottom: 6px;
            margin-bottom: 5px;
        }
    }
    &__title--tablet, &__title--mob {
        display: none;
    }
    &__dark {
        padding: 0 10px;
        background: $white10;
        border-radius: 12px;
    }
    &__light {
        color: $black;
        padding: 0 15px;
        background: $white;
        border-radius: 23px;
    }
    &__grad {
        top: 50%;
        left: 0;
        transform: translate(-50%,-50%);
    }
    @media (max-width: $bp1) {
        .page-content {
            margin-right: 10.5%;
        }
        &__light {
            padding: 0 10px;
        }
    }
    @media (min-width: $bp2) and (max-width: $bp1) {
        &__title--desk {
            display: none;
        }
        &__title--tablet {
            display: block;
            margin-left: 50px;
        }
    }
    @media (max-width: $bp3) {
        .page-content {
            max-width: 600px;
            margin: 0;
            ul {
                max-width: 100%;
            }
        }
        &__title--desk {
            display: none;
        }
        &__title--tablet {
            display: block;
        }
        &__grad {
            top: 70%;
        }
    }
    @media (max-width: $bp5) {
        &__title--tablet {
            display: none;
        }
        &__title--mob {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}