.footer {
    .container {
        position: relative;
    }
    .main-btn {
        max-width: 263px;
    }
    &__inner {
        min-height: 560px;
        display: flex;
        position: relative;
    }
    &__content {
        width: 100%;
        max-width: 749px;
        padding: 30px 0;
        display: grid;
        grid-template-columns: 1fr 222px;
        gap: 0 20px;
        align-items: start;
        margin-top: auto;
    }
    &__title {
        max-width: 304px;
        margin-bottom: 40px;
    }
    &__logo, &__txt {
        margin-top: 140px;
    }
    &__txt {
        p {
            font-size: 12px;
            max-width: 412px;
            margin-bottom: 20px;
            a {
                color: $white;
                font-weight: 700;
            }
            &:last-child {
                margin-bottom: 0
            }
        }
    }
    &__logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 30px;
    }
    &__menu {
        margin-bottom: 20px;
        ul li {
            margin-bottom: 4px;
            a {
                font-size: 16px;
                font-weight: 600;
                color: $white40;
                text-transform: lowercase;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__img {
        pointer-events: none;
        position: absolute;
        bottom: -32%;
        right: -6.8%;
        width: 44%;
    }
    &__grad {
        bottom: 0%;
        right: -39%;
        transform: translateY(30%) scale(0.75);
        opacity: 0.2;
    }
    @media (max-width: $bp1) {
        &__content {
            max-width: 645px;
        }
        &__logo, &__txt {
            margin-top: 150px;
        }
        &__img {
            bottom: -11%;
            right: -4%
        }
        &__grad {
            display: none;
        }
    }
    @media (max-width: $bp2) {
        &__inner {
            min-height: 0;
        }
        &__img {
            display: none;
        }
        &__content {
            max-width: 750px;
            padding-top: 0;
        }
        &__logo, &__txt {
            margin-top: 100px;
        }
    }
    @media (max-width: $bp3) {
        &__content {
            max-width: 700px;
        }
        &__logo, &__txt {
            margin-top: 70px;
        }
    }
    @media (max-width: $bp4) {
        .main-btn {
            max-width: 100%;
        }
        .social {
            justify-content: center;
        }
        .main-btn, .social, &__title, &__txt {
            grid-column: 1/3;
        }
        &__content {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        &__title {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__logo {
            max-width: 70px;
            align-self: center;
            grid-area: 2/2/3/3;
            grid-template-columns: 1fr;
            gap: 12px;
            margin: 0 0 20px;
        }
        &__txt {
            margin-top: 20px;
        }
    }
}