html, body {
  height: 100%;
  scroll-behavior: smooth;
  &::-webkit-scrollbar-thumb {
    background-color: green;
    background-clip: padding-box;  
  } 
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $black;
  }
}
.custom-scroll {
  &::-webkit-scrollbar-thumb {
    background-color: green;
    background-clip: padding-box;  
  } 
  &::-webkit-scrollbar {
    background-color: $black;
  }
}
body {
  min-width: 320px;
  background: $black;
  font-family: "RFDewi";
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
  overflow-x: hidden;
  &.loaded {
    .preloader {
      transform: translateX(-100%);
    }
  }
  @media (max-width: $bp2) {
    font-size: 16px;
  }
}
.wrap {
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
}
h1,.h1, h2, .h2 {
  font-weight: 600;
  letter-spacing: -0.02em;
}
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
  letter-spacing: -0.02em;
}
h1, .h1 {
  font-size: 68px;
  @media (max-width: $bp2) {
    font-size: 44px;
  }
  @media (max-width: $bp7) {
    font-size: 35px;
  }
}
h2, .h2 {
  font-size: 68px;
  @media (max-width: $bp2) {
    font-size: 44px;
  }
  @media (max-width: $bp7) {
    font-size: 35px;
  }
}
h3, .h3 {
  font-size: 44px;
  @media (max-width: $bp2) {
    font-size: 24px;
  }
}
h4, .h4 {
  font-size: 32px;
  @media (max-width: $bp2) {
    font-size: 20px;
  }
}
h5, .h5 {
  font-size: 24px;
  @media (max-width: $bp2) {
    font-size: 20px;
  }
}
h6, .h6 {
  font-size: 20px;
  @media (max-width: $bp2) {
    font-size: 16px;
  }
}
.rub {
  &:after {
    content: "₽";
    margin-left: 2px;
  }
}
.container{
  width: 100%;
  max-width: 1598px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: $bp1) {
    max-width: 1280px;
    padding: 0 10px;
  }
  @media (max-width: $bp2) {
    max-width: 1070px;
  }
  @media (max-width: $bp3) {
    max-width: 788px;
  }
  @media (max-width: $bp4) {
    max-width: 560px;
  }
}
.fixed-block {
  min-width: 320px;
}
.media-cover {
  display: block;
  position: relative;
  overflow: hidden;
  img, video, iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.media-contain {
  display: block;
  position: relative;
  overflow: hidden;
  img, video, iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }
}
.mb-40 {
  margin-bottom: 40px;
  @media (max-width: $bp2) {
    margin-bottom: 20px;
  }
}
.section {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: $bp1) {
    margin-bottom: 110px;
  }
  @media (max-width: $bp2) {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 80px;
    }
  }
  @media (max-width: $bp3) {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
}
.sec-title {
  margin-top: -20px;
  margin-bottom: 30px;
  @media (max-width: $bp2) {
    margin-top: -10px;
    margin-bottom: 20px;
  }
}
.sec-grid {
  display: flex;
  .sec-lbl {
    flex: 0 0 242px;
    margin-right: 20px;
  }
  .sec-inner {
    flex: 1 1 auto;
  }
  @media (max-width: $bp1) {
    .sec-lbl {
      flex: 0 0 200px;
      margin-right: 10px;
    }
  }
  @media (max-width: $bp2) {
    display: block;
    .sec-lbl {
      margin: 0 0 20px;
    }
  }
}
.sec-lbl {
  color: $white40;
  @media (max-width: $bp2) {
    font-size: 16px;
  }
}
.page-content {
  padding-bottom: 3px;
  h1, h2, h3, h4, h5, .h5, h6,.h6, p, hr, ol, ul {
    margin-bottom: 20px;
  }
  ul li {
    padding-left: 16px;
    position: relative;
      &::before {
        content: "";
        flex: 0 0 7px;
        display: block;
        width: 7px;
        height: 7px;
        background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 0px;
      }
  }
  ol li, ul li {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  img, figure, iframe, video {
    overflow: hidden;
    margin: 20px 0;   
  }
  p a {
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    background-clip: text;
  }
  p + p {
    margin-top: -10px;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  @media (max-width: $bp3) {
    h1, h2, h3, h4, h5, .h5, h6,.h6, p, hr, ol, ul {
      margin-bottom: 10px;
    }
    img, figure, iframe, video {
      margin: 10px 0;   
    }
    p + p {
      margin-top: 0;
    }
    ul li {
      &::before {
        top: 7px;
      }
    }
  }
} 
.bg-grad {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  @media (max-width: $bp1) {
    min-width: 900px;
  }
}
 .grad-txt {
  line-height: 1;
  font-weight: bold;
  color: transparent;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
  background-clip: text;
 }
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all .4s linear;
  overflow: hidden;
}
.main-btn, .stroke-btn {
  font-size: 20px;
  font-weight: bold;
  min-height: 52px;
  padding: 5px 34px 7px;
  @media (max-width: $bp2) {
    font-size: 16px;
    min-height: 46px;
  }
  @media (max-width: $bp4) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-btn {
  color: $black;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
  &:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    border-radius: 100px; 
    padding: 2px; 
    background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
  &:hover {
    color: $white;
    background: $white10;
  }
}
.stroke-btn {
  border-radius: 100px;
  background: $white10;
  position: relative;
  z-index: 1;
  span { 
    display: inline-block; 
    color: $white;
    transition: all .3s linear;
  }
  svg {
    stroke: $white;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    transition: all 3s linear;
    margin-left: 8px;
  }
  &:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    border-radius: 100px; 
    padding: 2px; 
    background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
  &:hover {
    span {
      &:after {
        opacity: 1;
      }
    }
    svg {
      stroke: url(#green-gradient);
    }
  }
  &--dark {
    span {
      color: $black;
    }
/*     &:hover {
      span {
        color: transparent;
      }
    } */
  }
}
.link {
  display: inline-block;
  position: relative;
  &:after {
    content: attr(data-txt);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    color: transparent;
    background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    background-clip: text;
    opacity: 0;
    transition: all .3s linear;
    z-index: 1;
    pointer-events: none;
  }
  &:hover {
    color: transparent !important;
    &:after {
      opacity: 1;
    }
  }
} 
.swiper {
  min-width: 0;
  overflow: hidden;
  position: relative;
}
.swiper-fade, .swiper-wrapper {
  transform: translate3d(0,0,0);
}
.swiper-wrapper {
  height: 100%;
  display: flex;
}
.swiper-slide {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}
.swiper-slide-active {
  z-index: 2;
}
.nav-btn {
  flex: 0 0 52px;
  width: 52px;
  height: 52px;
  padding: 14px;
  border-radius: 50%;
  background: $white;
  &.swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
  }
  svg {
    stroke: $black;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  @media (max-width: $bp2) {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}
[data-fancy] {
  cursor: pointer;
}
.item-form {
  margin-bottom: 10px;
  input,
  textarea, input::placeholder, textarea::placeholder {
    font-size: 20px;
    font-weight: bold;
  }
  input,
  textarea {
    color: $white;
    padding: 13px 20px;
    border: 1px solid $white20;
    &::placeholder {
      color: $white20;
    }
  }
  input {
    border-radius: 100px;
  }
  textarea {
    min-height: 100px;
    resize: vertical;
    overflow: hidden;
    border-radius: 28px;
    &::-webkit-resizer {
      display: none;
    }
  }
  &__error, &__success {
    font-size: 12px;
    padding: 0 20px;
    margin-top: 5px;
    &:empty {
      display: none;
    }
  }
  &__error {
    color: $red
  }
  &__success {
    color: $green;
  }
  @media (max-width: $bp2) {
    input,
    textarea, input::placeholder, textarea::placeholder {
      font-size: 16px
    }
  }
}
.form {
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -5px;
    .text-checkbox, .text-radio {
      margin: 5px;
      p {
        min-width: 144px;
        text-align: center;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
    margin-bottom: 40px;
    .item-form {
      margin-bottom: 0;
    }
    .col2 {
      grid-column-end: span 2;
    }
    &.grid3 {
      grid-template-columns: repeat(3,1fr);
      @media (max-width: $bp4) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  &__footer {
    margin-top: 40px;
    .item-checkbox {
      margin-bottom: 0;
      p {
        font-size: 16px;
        font-weight: 400;
        max-width: 575px;
      }
    }
    .main-btn {
      width: 100%;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__lbl {
    margin-bottom: 20px;
  }
  &__fieldset {
    margin-bottom: 40px;
    & > :last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: $bp2) {
    &__lbl {
      margin-bottom: 10px;
    }
    &__fieldset, &__grid {
      margin-bottom: 20px;
    }
    &__footer {
      margin-top: 20px;
      .main-btn {
        margin-top: 20px;
      }
    }
  }
  @media (max-width: $bp3) {
    &__footer {
      .item-checkbox p {
        font-size: 12px;
      }
    }
  }
  @media (max-width: $bp5) {
    &__lbl {
      font-size: 14px;
    }
    &__row {
      align-items: stretch;
      .text-checkbox, .text-radio {
        flex: 0 0 calc(50% - 10px);
        p {
          width: 100%;
          height: 100%;
          min-width: 0;
          padding: 6px 16px 8px;
          min-height: 46px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  @media (max-width: $bp7) {
    &__grid {
      display: block;
      .item-form, .text-radio, .text-checkbox {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  a {
    flex: 0 0 52px;
    width: 52px;
    height: 52px;
    opacity: 0.2;
    border-radius: 50%;
    border: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    img {
      width: 26px;
      height: 20px;
      object-fit: contain;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.accordion {
  &__header {
    cursor: pointer;
  }
  &__body {
    display: none;
  }
}
.tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px;
  a, span {
    min-width: 185px;
    font-size: 20px;
    font-weight: bold;
    color: $white20;
    text-transform: lowercase;
    display: inline-block;
    text-align: center;
    padding: 13px 34px 17px;
    border: 1px solid $white20;
    border-radius: 100px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transition: all .3s linear;
    &:before {
      content:"";
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index: -1;
      border-radius: 100px; 
      padding: 1px; 
      background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      mask-composite: exclude; 
      opacity: 0;
      transition: all .3s linear;
    }
    &:hover, &.active {
      color: $white;
        &::before {
          opacity: 1;
        }
    }
  }
  @media (max-width: $bp2) {
    a, span {
      min-width: 119px;
      font-size: 16px;
      padding: 13px 20px 16px;
    }
  }
}
.switch-block {
  [data-block] {
    display: none;
    &.active {
      display: block;
    }
  }
}
.item-video {
  position: relative;
  cursor: pointer;
  &:hover:after {
    transform: translate(-50%,-50%) scale(1.05);
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 15%);
    z-index: 1;
}
  &:after {
    content: "";
    display: block;
    width: 127px;
    height: 127px;
    background: url(../img/icons/play.svg) center/contain no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    transition: all .8s cubic-bezier(.25,.46,.45,.94)
  }
  @media (max-width: $bp2) {
    &:after {
      width: 57px;
      height: 57px;
    }
  }
}
.item-checkbox, .item-radio {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  input {
    display: none;
  }
  input:checked + span {
    &::before {
      background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    }
    &::after {
      opacity: 1;
    }
  }
  span {
    flex: 0 0 26px;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before, &::after {
      content: "";
      transition: all .3s linear;
    }
    &:before {     
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding: 1px; 
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out; 
      mask-composite: exclude; 
      border-radius: 8px;
      background: $white20;   
    }
    &:after {
      width: 12px;
      height: 12px;
      border-radius: 4px; 
      opacity: 0;
      background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    }
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  a {
    font-weight: 700;
    color: $white;
  }
  @media (max-width: $bp2) {
    span {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
    }
    p {
      font-size: 16px;
    }
  } 
}
.item-radio {
  span, span::before, span::after {
    border-radius: 50%;
  }
}
.text-checkbox, .text-radio {
  display: inline-block;
  position: relative;
  border-radius: 100px; 
  overflow: hidden;
  input {
    display: none;
    &:checked + p {
      color: $white;
      background: $white10;
      &::after {
        opacity: 1;
      }
      svg {
        fill: url(#green-gradient);
      }
    }
  }
  input + p {
    font-size: 20px;
    font-weight: bold;
    color: $white20;
    text-transform: lowercase;
    display: inline-block;
    padding: 13px 20px 17px;
    cursor: pointer;
    transition: all .3s linear;
    &:before, &:after {
      content:"";
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius: 100px; 
      transition: all .3s linear;
    }
    &:before {
      border: 1px solid $white20;     
    }
    &:after {
      padding: 1px; 
      background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      mask-composite: exclude; 
      opacity: 0;    
    }
    svg {
      flex: 0 0 45px;
      fill: $white10;
      margin-left: 10px;
      transition: all .3s linear;
    }
  }
  @media (max-width: $bp2) {
    input + p {
      font-size: 16px;
      padding-bottom: 16px;
      svg {
        flex: 0 0 35px;
      }
    }
  }
}