.header {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(22, 22, 23, 0.4) 2.02%, rgba(21, 21, 21, 0.3) 50%, rgba(21, 21, 21, 0) 100%);
        transition: all .3s linear;
        opacity: 0;
        pointer-events: none;
    }
    &.scrolled {
        .header__container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &.header--dark {
        &:before {
            opacity: 1;
        }
    }
    &.hidden {
        transform: translateY(-100%);
    }
    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .3s linear;
    }
	&__logo {
        flex: 0 0 222px;
        width: 222px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: center;
        margin-right: 20px;
        position: relative;
        z-index: 501;
    }
    @media (max-width: $bp1) {
        &__container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media (max-width: $bp3) {
        &__logo {
            flex: 0 0 180px;
            width: 180px;
        }
    }
    @media (max-width: $bp4) {
        &__container {
            .menu {
                display: none;
            }
        }
    }
}
.menu {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: -10px;
        li {
            margin: 10px;
            a {
                font-size: 16px;
                font-weight: 600;
                color: $white;
                text-transform: lowercase;
            }
        }
    }
    @media (max-width: $bp3) {
        ul li a {
            font-size: 14px;
        }
    }
    @media (max-width: $bp4) {
        margin-bottom: 40px;
        ul {
            display: block;
            li {
                a {
                    font-size: 24px;
                    color: $white40;
                }
            }
        } 
    }
}
.icon-menu {
    display: none;
    @media (max-width: $bp4) {
        display: block;
        width: 18px;
        height: 12px;
        position: relative;
        z-index: 501;
        transition: all .4s ease-in-out;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: -3px;
            top: -6px;
            width: 24px;
            height: 24px;
            background: transparent;
            border: 1px solid $white40;
            border-radius: 50%;
            opacity: 0;
            transition: all .3s linear;
        }
        span {
            display: block;
            height: 2px;
            background: $white;
            position: absolute;
            left: 0;
            width: 100%;
            border-radius: 4px;
            transition:top .2s ease-in-out .3s,bottom .2s ease-in-out .3s,transform .3s ease-in-out,opacity .2s .2s ease-in-out;           
            transform-origin: center center;
            &:first-child {
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                bottom: 0;
            }
        }
        &.open{
            &::after {
                opacity: 1;
            }
            span {
                height: 2px;
                transition: top .2s ease-in-out,bottom .2s ease-in-out,transform .3s  ease-in-out .2s,opacity .1s .2s ease-in-out;
                transform-origin: center center;
                &:first-child {
                    top: calc(50% - 1px); 
                    transform: rotate(45deg) scale(0.5);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    bottom: calc(50% - 1px);
                    transform: rotate(-45deg) scale(0.5);
                }
            }
        }
    }
}
.mob-menu {
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: $black;
    overflow: hidden;
    transition: all .5s ease;
    transition-timing-function: cubic-bezier(.25,.74,.22,.99);
    visibility: hidden;
    opacity: 0;
    &.show {
        visibility: visible;
        opacity: 1;
        .menu__list li, .mob-menu__btns .btn {
            transform: translateY(0);
            opacity: 1;
            transition-delay: calc((var(--item-idx) + 2)* .05s + .1s);
            transition-timing-function: cubic-bezier(.25,.1,.25,1); 
        }
    }
    .container {
        height: 100%;
        padding-top: 70px;
        padding-bottom: 300px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
        }
    }
    .menu {
        flex: 0 1 auto;
        ul li {
            margin: 10px 10px 17px;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
    }
    &__bg {
        position: absolute;
        bottom: -80px;
        right: -40px;
        width: 100%;
        max-width: 355px;
    }
    &__grad {
        top: 100%;
        left: 100%;
        filter: blur(200px);
        transform: translate3d(-48%,-45%,0);
    }
}