.btn-close {
    display: block;
    flex: 0 0 52px;
    width: 52px;
    height: 52px;
    padding: 18px;
    border-radius: 50%;
    border: 1px solid $white;
    cursor: pointer;
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }
    svg {
        stroke: $white;
        width: 100%;
        height: 100%;
    }
    @media (max-width: $bp2) {
        flex: 0 0 42px;
        width: 42px;
        height: 42px;
        padding: 13px;
    }
    @media (max-width: $bp3) {
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        padding: 9px;
    }
    @media (max-width: $bp4) {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        padding: 7px;
        opacity: 1;
        border-color: $white40;
    }
}
.form-progress {
    padding: 0 30px;
    position: relative;
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    justify-items: center;
    span {
        font-size: 14px;
        max-width: 116px;
        text-align: center;
        padding-bottom: 38px;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            width: 28px;
            height: 28px;
            position: absolute;
            bottom: 0;
            left: 50%;
            border-radius: 50%;
            background: #414141;
            transform: translateX(-50%);
        }
    }
    &:before, &:after {
        content: "";
        width: 100%;
        display: block;
        height: 6px;
        border-radius: 100px;
        position: absolute;
        bottom: 11px;
        left: 0;
        background: #414141;
    }
    &::after {
        background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
    }
    @media (max-width: $bp3) {
        &::before, &::after {
            bottom: 5px;
        }
        span {
            font-size: 12px;
            padding-bottom: 28px;
            &:after {
                content: "";
                width: 16px;
                height: 16px;
            }
        }
    }
    @media (max-width: $bp5) {
        padding: 0;
        grid-template-columns: 90px 1fr 90px;
        span {
            font-size: 10px;
        }
    }
}
.item-ticket {
    padding: 30px;
    border-radius: 44px;
    background: $white10;
    display: grid;
    grid-template-columns: 1fr 1.85fr;
    &__left {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h5, p {
            margin-bottom: 10px;
        }
        .h5 {
            margin-top: auto;
        }
    }
    &__right {
        padding-left: 60px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 30px;
            background: $white10
        }
    }
    &__info {
        p {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0
            }
        }
    }
    &__edit {
        flex: 0 0 52px;
        width: 52px;
        height: 52px;
        padding: 16px;
        border-radius: 50%;
        margin-left: 10px;
        position: relative;
        &:before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index: -1;
            border-radius: 50%; 
            padding: 2px; 
            background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out; 
            mask-composite: exclude; 
        }
        svg {
            stroke: $white;
        }
        &:hover {
            background: $white;
            svg {
                stroke: url(#green-gradient);
            }
        }
    }
    &__det {
        padding-left: 16px;
        margin-left: 16px;
        position: relative;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0
        }
        &::before {
            content: "";
            flex: 0 0 7px;
            display: block;
            width: 7px;
            height: 7px;
            background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 0px;
        }
        p {
            margin-bottom: 0;
        }
        span {
            display: inline-block;
            font-size: 12px;
            margin-right: 10px;
            margin-top: 5px;
        }
    }
    @media (max-width: $bp2) {
        border-radius: 28px;
    }
    @media (max-width: $bp5) {
        display: block;
        &__right {
            padding-left: 0;
            padding-top: 40px;
            &:before {
                width: 100%;
                height: 1px;
                top: 20px;
                left: 0;
            }
        }
    }
    @media (max-width: $bp7) {
        padding: 16px;
    }
}
.add-extra {
    &.hidden .add-extra__inner {
        display: none;
    }
    &__inner {
        .main-btn {
            width: 100%;
            max-width: 304px;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: $bp5) {
        .btn {
            width: 100%;
        }
        &__inner .main-btn {
            max-width: 100%;
        }
    }
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: all .3s .1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translate(0);
            transition: all .3s .1s ease-out;
        }
    }
    .author, .page-content {
        max-width: 560px;
    }
    .author {
        grid-template-columns: 82px 1fr;
        &__info p {
            font-size: 18px;
        }
    }
    .social {
        margin-top: 80px;
    }
    .page-content {
        li {
            line-height: 1.1;
        }
    }
    &__close {
        margin-bottom: 30px;
        .btn-close {
            margin-left: auto;
        }
    }
    &__top {
        h2 {
            font-weight: 600;
            padding-bottom: 40px;
            max-width: 788px;
        }
        p {
            max-width: 730px;
            margin-bottom: 40px;
        }
    }
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.6);
    }
    &__content {
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        height: 100%;
        background: #2C2C2C;
        border-top-left-radius: 44px;
        border-bottom-left-radius: 44px;
        overflow: hidden;
        position: relative;
        opacity: 0;
        transform: translateX(100%);
        transition: all .3s ease-out;
        .custom-scroll {
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 8px;
            }
        }
    }
    &__bg {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    @media (max-width: $bp2) {
        .social {
            margin-top: 24px;
        }
        &__content {
            max-width: 750px;
        }
        &__top {
            h2 {
                max-width: 560px;
                padding-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        }
        &__bg {
            max-width: 355px;
        }
    }
    @media (max-width: $bp3) {
        .custom-scroll {
            padding: 16px;
        }
        &__close {
            margin-bottom: 20px;
        }
        &__content {
            max-width: 70%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
    @media (max-width: $bp4) {
        .custom-scroll {
            padding: 0;
            &::-webkit-scrollbar {
                display: none;
                height: 0;
                width: 0;
            }
        }
        .author {
            grid-template-columns: 48px 1fr;
            &__info p {
                font-size: 16px;
            }
        }
        &__close {
            position: absolute;
            top: -40px;
            right: 16px
        }
        &__overlay {
            padding-top: 60px;
            display: flex;
        }
        &__content {
            width: 100%;
            max-width: 100%;
            padding: 10px 10px 20px;
            height: auto;
            max-height: 100%;
            margin-top: auto;
            transform: translate(0, 100px);
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0;
            display: flex;
            flex-direction: column;
            overflow: visible;
        }
        &__top {
            p {
                font-size: 14px;
            }
        }
        &__bg {
            display: none;
        }
    }
}
.sponsor-mod {
    .form__grid {
        .item-form:first-child {
            grid-column: 1/4;
        }
    }
    @media (max-width: $bp4) {
        .form__grid {
            .item-form:first-child,.item-form:nth-child(4) {
                grid-column: 1/3;
            }
        }
    }
}
.reg-mod {
    .form {
        &__grid {
            .text-radio {
                border-radius: 44px;
                &:first-child {
                    grid-column: 1/3;
                    p {
                        background-image: url(../img/reg-purch.svg);
                    }
                    input:checked + p {
                        background-image: url(../img/reg-purch-active.svg);
                    }
                }
                &:nth-child(2) {
                    p {
                        background-image: url(../img/reg-tour.svg);
                    }
                    input:checked + p {
                        background-image: url(../img/reg-tour-active.svg);
                    }
                }
                &:nth-child(3) {
                    p {
                        background-image: url(../img/reg-hackaton.svg);
                    }
                    input:checked + p {
                        background-image: url(../img/reg-hackaton-active.svg);
                    }
                }
                p {
                    font-size: 24px;
                    width: 100%;
                    min-height: 254px;
                    padding: 30px;
                    background-position: bottom 10px right 10px;
                    background-repeat: no-repeat;
                    &:before, &:after {
                        border-radius: 44px;
                    }
                }
            }
        }
    }
    @media (max-width: $bp1) {
        .form__grid {
            .text-radio {
                p {
                    min-height: 150px;
                    background-size: 80px auto;
                }
            }
        }
    }
    @media (max-width: $bp2) {
        .form__grid {
            .text-radio {
                border-radius: 28px;
                p {
                    font-size: 20px;
                    &::before, &::after {
                        border-radius: 28px;
                    }
                }
            }
        }
    }
    @media (max-width: $bp3) {
        .form__grid {
            .text-radio {
                p {
                    font-size: 16px;
                    min-height: 146px;
                    padding-right: 80px;
                    background-size: 65px auto;
                }
            }
        }
    }
    @media (max-width: $bp5) {
        .form__grid {
            grid-template-columns: 1fr;
            .text-radio:first-child {
                grid-column: 1/2;
            }
        }
    }
    @media (max-width: $bp7) {
        .form__grid .text-radio p {
            padding: 20px 70px 20px 20px;
       }
    }
}
.purchase-mod {
    .add-extra__inner {
        padding: 30px;
        background: $white10;
        border-radius: 44px;
        h5 {
            margin-bottom: 30px;
        }
    }
    @media (max-width: $bp2) {
        .add-extra__inner {
            border-radius: 28px;
        }
    }
    @media (max-width: $bp7) {
        .add-extra__inner {
            padding: 16px;
        }
    }
}
#purchase-mod-step1 {
    .form-progress {
        span:first-child:after {
            background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
        }
        &:after {
            width: 85px;
        }
    }
    @media (max-width: $bp5) {
        .form-progress::after {
            width: 46px;
        }
    }
}
#purchase-mod-step2,#purchase-mod-step3 {
    .form-progress {
        span:nth-child(-n+2):after {
            background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
        }
        &:after {
            width: 50%;
        }
    }
}
.payment-mod {
    .form-progress {
        span:after {
            background: linear-gradient(90deg, #4CC326 0%, #FFEA2A 100%);
        }
        &:after {
            width: calc(100% - 85px);
        }
    }
    .form__grid {
        .text-radio {
            border-radius: 44px;
            p {
                font-size: 24px;
                width: 100%;
                min-height: 140px;
                padding: 30px;
                &:after, &:before {
                    border-radius: 44px;
                }
                span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                }
            }
        }
    }
    &__promo {
        display: flex;
        align-items: flex-start;
        .item-form {
            width: 100%;
            margin-right: 10px;
            margin-bottom: 0;
        }
        .stroke-btn {
            white-space: nowrap;
        }
    }
    &__det {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &.totalprice {
            span {
                color: $white;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        span {
            color: $white40;
        }
        span:nth-child(2) {
            flex: 1;
            border-bottom: 5px dotted $white10;
            margin: 0 20px;
        }
    }
    @media (max-width: $bp2) {
        .form__grid {
            .text-radio {
                border-radius: 28px;
                p {
                    font-size: 20px;
                    min-height: 110px;
                    padding: 20px;
                    &:after, &:before {
                        border-radius: 28px;
                    }
                }
            }
        }
    }
    @media (max-width: $bp5) {
        .form-progress::after {
            width: calc(100% - 46px);
        }
        .form__grid {
            grid-template-columns: 1fr;
            .text-radio {
                p {
                    font-size: 16px;
                }
            }
        }
        &__promo {
            display: block;
            .btn {
                width: 100%;
                margin-top: 10px;
            }
        }
        &__det {
            margin-bottom: 10px;
            span {
                font-size: 16px;
            }
            span:first-child {
                font-size: 12px;
            }
            &.totalprice {
                span {
                    font-size: 20px;
                }
                span:first-child {
                    font-size: 18px;
                }
            }
        }
    }
}
.reg-mod, .payment-mod, .tour-mod, .hackaton-mod, .purchase-mod {
    .form {
        flex: 1;
        display: flex;
        flex-direction: column;
        &__footer {
            margin-top: auto;
        }
    }
}
.tour-mod {
    &__block {
        display: none;
        &.active {
            display: block;
        }
    }
}
.reports-mod {
    .form__footer .main-btn {
        max-width: 300px;
    }
    &__info {
        margin-bottom: 40px;
    }
    @media (max-width: $bp2) {
        &__info {
            margin-bottom: 20px;
        }
    }
}
.success-mod, .error-mod {
    @media (max-width: $bp4) {
        .modal__content {
            padding-top: 55px;
            padding-bottom: 55px;
            text-align: center;
        }
    }
}