$bp1: 1400.98px;
$bp2: 1200.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 380.98px;

$white: #FFFFFF;
$white10: rgba(#FFFFFF, 10%);
$white20: rgba(#FFFFFF, 20%);
$white40: rgba(#FFFFFF, 40%);
$black: #141414;
$black40: rgba(#141414, 40%);
$red: #FF380D;
$green: #4CC326;
