@@if (main === true) {
    <footer class="footer footer--main">
}
@@if (main === false) {
    <footer class="footer">
}
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <div class="footer__title"><img src="img/title.svg" alt="GP DAYS 2024"></div>
                <nav class="footer__menu">
                    <ul>
                        <li><a class="link js-anchor" href="#main-about" data-txt="О мероприятии">О мероприятии</a></li>
                        <li><a class="link js-anchor" href="#main-prices" data-txt="Цены">Цены</a></li>
                        <li><a class="link js-anchor" href="#main-reports" data-txt="Программа">Программа</a></li>
                        <li><a class="link js-anchor" href="#main-guide" data-txt="Гид по городу">Гид по городу</a></li>
                        <li><a class="link js-anchor" href="#main-contacts" data-txt="Контакты">Контакты</a></li>
                    </ul>
                </nav>
                <button class="btn main-btn mod-open-btn" data-modal="reg-mod">регистрация</button>
                <div class="social">
                    <a href="#"><img src="img/icons/vk.svg" alt="VK"></a>
                    <a href="#"><img src="img/icons/tg.svg" alt="Telegram"></a>
                    <a href="#"><img src="img/icons/youtube.svg" alt="Youtube"></a>
                </div>
                <div class="footer__txt">
                    <p>Услуга оказывается ООО «ГЛОБУС-ИТ» в порядке,<br>определяемом в <a href="#" target="_blank" class="link" data-txt="Положении о проведении мероприятия">Положении о проведении мероприятия</a></p>
                    <p>Оставаясь на сайте, вы соглашаетесь с <a href="#" target="_blank" class="link" data-txt="Политикой конфиденциальности">Политикой конфиденциальности</a></p>
                </div>
                <div class="footer__logo">
                    <a href="#" target="_blank"><img src="img/logo-1.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="img/logo-2.svg" alt=""></a>                             
                </div>
            </div>
            <div class="footer__img">
                <img src="img/footer-bg.svg" alt="">
            </div>
        </div>
        <img class="bg-grad footer__grad" src="img/green-grad.png" alt="">
    </div>
</footer>