@@if (main === true) {
    <header class="header fixed-block header--main">
}
@@if (main === false) {
    <header class="header">
}
    <div class="container header__container">
        <div class="header__logo">
            <a href="#" target="_blank"><img src="img/logo-1.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/logo-2.svg" alt=""></a>           
        </div>
        <nav class="menu">
            <ul>
                <li><a class="link js-anchor" href="#main-about" data-txt="О мероприятии">О мероприятии</a></li>
                <li><a class="link js-anchor" href="#main-prices" data-txt="Цены">Цены</a></li>
                <li><a class="link js-anchor" href="#main-reports" data-txt="Программа">Программа</a></li>
                <li><a class="link js-anchor" href="#main-guide" data-txt="Гид по городу">Гид по городу</a></li>
                <li><a class="link js-anchor" href="#main-contacts" data-txt="Контакты">Контакты</a></li>
            </ul>
        </nav>
        <div class="icon-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="mob-menu">
        <div class="container">
            <div class="mob-menu__inner">
                <nav class="menu">
                    <ul>
                        <li><a class="link js-anchor" href="#main-about" data-txt="О мероприятии">О мероприятии</a></li>
                        <li><a class="link js-anchor" href="#main-prices" data-txt="Цены">Цены</a></li>
                        <li><a class="link js-anchor" href="#main-reports" data-txt="Программа">Программа</a></li>
                        <li><a class="link js-anchor" href="#main-guide" data-txt="Гид по городу">Гид по городу</a></li>
                        <li><a class="link js-anchor" href="#main-contacts" data-txt="Контакты">Контакты</a></li>
                    </ul>
                </nav>
                <div class="social">
                    <a href="#"><img src="img/icons/vk.svg" alt="VK"></a>
                    <a href="#"><img src="img/icons/tg.svg" alt="Telegram"></a>
                    <a href="#"><img src="img/icons/youtube.svg" alt="Youtube"></a>
                </div>
            </div>
            <div class="mob-menu__bg"><img src="img/footer-bg.svg" alt=""></div>
            <svg class="bg-grad mob-menu__grad" xmlns="http://www.w3.org/2000/svg" width="586" height="554" viewBox="0 0 586 554" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M341.273 66.0808C370.686 81.1987 396.469 99.8318 421.911 121.001C443.601 139.049 458.091 162.731 479.509 181.104C513.693 210.43 593.797 216.892 585.385 261.24C576.005 310.689 490.988 293.708 452.119 325.499C431.501 342.362 431.173 373.116 419.356 397.036C393.576 449.216 394.975 527.835 341.273 549.866C296.141 568.381 242.886 521.022 214.98 480.88C188.35 442.573 230.699 377.636 198.262 344.145C147.979 292.227 25.5335 329.784 2.25441 261.24C-17.0132 204.508 92.5569 185.813 128.144 137.688C158.203 97.0393 145.158 19.3944 192.974 3.32916C244.727 -14.0587 292.695 41.1119 341.273 66.0808Z" fill="#2D7017"/>
            </svg>
        </div>
    </div>
</header>